// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.navbar {
    color: #ffffff; /* establece el color de fuente en blanco */
    text-shadow: none; /* elimina el efecto fumado en la fuente */
  }
  .navbar-nav .nav-link {
    color: #ffffff; /* establece el color de fuente en blanco */
    text-shadow: none; /* elimina el efecto fumado en la fuente */
  }
  